[submodule "cad/src/telemetry_helix/gondola_helix"]
	path = cad/src/telemetry_helix/gondola_helix
	url = https://github.com/ODZ-UJF-AV-CR/QFH-Antenna.git
[submodule "doc/LION2CELL01"]
	path = doc/LION2CELL01
	url = https://github.com/mlab-modules/LION2CELL01
